<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134188033648-5f54amol29l2nsc8s9jlaj6040gmqd98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134188033648-5f54amol29l2nsc8s9jlaj6040gmqd98</string>
	<key>API_KEY</key>
	<string>AIzaSyD-g1z1hgAf-9LFmaDjXUazeRySM_kFgQU</string>
	<key>GCM_SENDER_ID</key>
	<string>134188033648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alsulayfih.TORQ</string>
	<key>PROJECT_ID</key>
	<string>torq-f5f5f</string>
	<key>STORAGE_BUCKET</key>
	<string>torq-f5f5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134188033648:ios:560b9d07ed4f3fce6cb6b5</string>
	<key>DATABASE_URL</key>
	<string>https://torq-f5f5f-default-rtdb.firebaseio.com</string>
</dict>
</plist>